# Pebble build output
build/
.lock-waf_darwin_build
.wafpickle-darwin-*
config.log


# Node dependencies
node_modules/

# macOS
.DS_Store

# Pebble local build files
.lock-waf_*
*.pyc
__pycache__/

# Editor files
.vscode/

# Not checking in release files
release/

*.pbw
